/* @import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap'); */

@font-face {
    font-family: 'Salsa';
    src: url("./font/Salsa-Regular.ttf");
}

section{
    position: relative;
}

h2{
    font-family: 'Salsa';
    position: absolute;
    top: 450px;
    text-shadow: 3px 3px 2px blue;
}